#myMask {
  margin-left: 20px;
  width: 400px;
  height: 400px;
  overflow: scroll;
}

#myCanvas {
  border: 1px solid red;
  margin-left: 20px;
}

input:hover {
  background: rgb(208, 203, 203);
}

#titleMain {
  margin-left: 40px;
  color: grey;
  font-size: 40px;
  /*fontFamily: "Lucida Console, Courier New, monospace",
  lineHeight: "40px",*/
  margin-bottom: -8px;
}
